*{
    font-family: Arial, Helvetica, sans-serif
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #275898;
    height: 30%;
    padding-top: 50px;
    padding-bottom: 50px
}

header img{
    height: 250px;
    width: 250px;
}

.section-um{
    background-color: bisque;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-um img{
    height: 200px;
    width: 200px;
    padding: 0 100px 0 100px;
}

.descricao{
    width: 50%;
}

.section-dois{
    background-color: rgb(163, 211, 248);
    padding: 50px 0 50px 0;
}

.objetivo-titulo{
    color:rgb(1, 27, 119);
    text-align: center;
    font-size: 50px;
}

.objetivos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.objetivo{
    width: 250px;
    text-align: center;
}

.objetivo h2, p{
    color:rgb(1, 27, 119);
}

.fa-band-aid{
    color: black;
}

.section-tres{
    padding: 50px 0 50px 0;
    background-color: rgb(184, 247, 184);
}

.empresas-titulo{
    color:rgb(0, 105, 14);
    text-align: center;
    font-size: 50px;
}

.empresas{
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 10px;
}

.empresas img{
    width: 64px;
    height: 64px;
}

footer{
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: #235390;

}

.frase{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.frase button{
    margin-left: 20px;
}

.colunas{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
    
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: white;
}

h2, h3, a, button{
    color: white;
}

h3{
    font-size: 25px;
}

button{
    font-size: 20px;
    font-weight: bold;
    background-color: #58cc02;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    border: none;
    cursor: pointer;
}
