*{
    font-family: Arial, Helvetica, sans-serif
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #235390;
    height: 30%;
    padding-top: 50px;
    padding-bottom: 50px
}

header img{
    height: 250px;
    width: 250px;
}

.section-um{
    background-color: bisque;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-um img{
    height: 200px;
    width: 200px;
    padding: 0 100px 0 100px;
}

.descricao{
    width: 50%;
}

.section-dois{
    background-color: rgb(163, 211, 248);
    height: 200px;
}

.section-tres{
    background-color: rgb(184, 247, 184);
    height: 200px;
}
footer{
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: #235390;

}

.frase{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.frase button{
    margin-left: 20px;
}

.colunas{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
    
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: white;
}

h2, h3, a, button{
    color: white;
}

h3{
    font-size: 25px;
}

button{
    font-size: 20px;
    font-weight: bold;
    background-color: #58cc02;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    border: none;
    cursor: pointer;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
